:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.join-form label {
  font-size: 12px;
  color: #6b7785;
  text-align: left;
  margin: 8px 0 4px;
}

.join-form input[type="text"] {
  padding: 8px;
  border: 1px solid #c8d1dc;
  border-radius: 12px;
}

.join-form input[type="submit"] {
  padding: 8px 16px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  margin-top: 16px;
  margin-bottom: 12px;
  background-color: #1bebb9;
  cursor: pointer;
}

.join-form input[type="submit"]:disabled {
  cursor: not-allowed;
}
